SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# sqlite | postgres
DB_ENGINE=sqlite

# فقط وقتی DB_ENGINE=postgres
DB_NAME=cafecore
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=5432