<div class="dashboard-header">

    <h1>

        داشبورد مدیریت

    </h1>

    <p>

        خوش آمدید.
        از این بخش می‌توانید وضعیت کلی کافه را مدیریت کنید.

    </p>

</div>

<div class="stats-grid">

    <div class="stat-card">

        <h3>

            کاربران

        </h3>

        <span>

            {{ users_count }}

        </span>

    </div>

    <div class="stat-card">

        <h3>

            محصولات

        </h3>

        <span>

            {{ products_count }}

        </span>

    </div>

    <div class="stat-card">

        <h3>

            سفارش‌ها

        </h3>

        <span>

            {{ orders_count }}

        </span>

    </div>

    <div class="stat-card">

        <h3>

            رزروها

        </h3>

        <span>

            {{ reservations_count }}

        </span>

    </div>

    <div class="stat-card">

        <h3>

            نظرات

        </h3>

        <span>

            {{ reviews_count }}

        </span>

    </div>

    <div class="stat-card success">

        <h3>

            سفارش‌های پرداخت شده

        </h3>

        <span>

            {{ paid_orders_count }}

        </span>

    </div>

    <div class="stat-card warning">

        <h3>

            سفارش‌های در انتظار

        </h3>

        <span>

            {{ pending_orders_count }}

        </span>

    </div>

    <div class="stat-card danger">

        <h3>

            سفارش‌های لغو شده

        </h3>

        <span>

            {{ cancelled_orders_count }}

        </span>

    </div>

    <div class="stat-card">

        <h3>

            درآمد کل

        </h3>

        <span>

            {{ total_revenue }}

        </span>

    </div>

</div>