{% extends "base.html" %}

{% load static %}

{% block title %}
تغییر رمز عبور | کافه رستوران
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/accounts/password_change_done.css' %}">

{% endblock %}

{% block content %}

<section class="password-change-done-section">

    <div class="password-change-done-card">

        <div class="password-change-done-icon">

            <i class="bi bi-check-circle-fill"></i>

        </div>

        <h1>

            رمز عبور با موفقیت تغییر کرد

        </h1>

        <p>

            رمز عبور حساب کاربری شما با موفقیت تغییر یافت.

        </p>

        <a href="{% url 'accounts:profile' %}" class="done-btn">

            بازگشت به پروفایل

        </a>

    </div>

</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/accounts/password_change_done.js' %}"></script>

{% endblock %}